:root {
  --darkest: rgba(19, 19, 19, 1);
  --accent: rgba(94, 113, 106, 1);
  --lightest: rgba(255, 255, 255, 1);
}

@font-face {
  font-family: "ITC Franklin Gothic Std-Book";
  src: url("../assets/fonts/ITCFranklinGothicStd-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Franklin Gothic Std-Demi";
  src: url("../assets/fonts/ITCFranklinGothicStd-Demi.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 375px;
  height: 667px;
}

.main-container {
  background: linear-gradient(
    180deg,
    #131313 89.59%,
    rgb(26, 26, 26) 96.25%,
    #282828 100%
  );
  position: relative;
  overflow-x: hidden;
  z-index: 0;
  min-height: 100%;
}

/*---- Navigation Bar ----*/

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "ITC Franklin Gothic Std-Demi";
}

nav .banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 19, 0) 0%,
      rgba(19, 19, 19, 0.28) 25.96%,
      rgba(19, 19, 19, 0.5) 55.04%,
      rgba(19, 19, 19, 0.75) 87.96%,
      rgba(19, 19, 19, 0.88) 92.99%,
      #131313 99.7%
    ),
    url(../assets/images/insights-card.jpeg) lightgray 0px -89.557px / 100% 296.296%
      no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  height: 108px;
}

nav .left-container img {
  height: 76.531px;
  width: auto;
}

nav .right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}

nav .right-container .language img {
  height: 15.748px;
  width: auto;
}

nav .right-container .socials {
  display: flex;
  gap: 5.75px;
}

nav .right-container .socials img {
  height: 12.298px;
  width: auto;
}

nav .link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 6px;
}

nav .link-list a {
  background-color: var(--lightest);
  text-decoration: none;
  font-size: 14px;
  color: var(--darkest);
  width: 100%;
  text-align: center;
  padding: 6px 0;
}

nav .link-list a.active {
  color: var(--lightest);
  background-color: var(--accent);
}

/*---- Overlay styling ----*/
.qr-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--lightest);
  padding: 20px;
  width: 90%;
  aspect-ratio: 3/4;
  text-align: center;
}

.qr-container h2 {
  font-family: "ITC Franklin Gothic Std-Demi";
  margin: 0 0 10px;
  font-size: 24px;
  color: #333;
}

.qr-container p {
  font-family: "ITC Franklin Gothic Std-Book";
  margin: 0 0 20px;
  font-size: 16px;
  color: #555;
}

.qr-container img {
  width: 200px;
  aspect-ratio: 1/1;
}

.close-overlay {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}
