/* Fonts */
@font-face {
  font-family: "ITC Franklin Gothic Std-Book";
  src: url("../assets/fonts/ITCFranklinGothicStd-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Franklin Gothic Std-Demi";
  src: url("../assets/fonts/ITCFranklinGothicStd-Demi.otf");
  font-weight: normal;
  font-style: normal;
}

#index-page {
  height: 100%;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "ITC Franklin Gothic Std-Demi";
}

/*---- Banner ----*/

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 100%;
  padding: 24px;
  transition: height 0.3s ease-out, padding 0.3s ease-out;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 19, 0) 0%,
    rgba(19, 19, 19, 0.5) 77.02%,
    rgba(19, 19, 19, 0.75) 87.96%,
    rgba(19, 19, 19, 0.88) 92.99%,
    #131313 100%
  );
  z-index: -1;
}

#index-page.active header {
  padding: 8px;
}

.runway-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

#index-page header img {
  width: 109.457px;
  height: auto;
  object-fit: fit;
  transition: width 0.3s ease-out;
}

#index-page.active header img {
  width: 37.797px;
}

#index-page header button {
  color: white;
  background-color: transparent;
  border: transparent;
  font-size: 14px;
  font-weight: 100;
  font-family: "ITC Franklin Gothic Std-Book";
  text-align: center;
  letter-spacing: 0.75px;
  text-decoration-line: underline;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

#index-page.active header button {
  opacity: 0;
}

/*---- Main Section ----*/

#index-page main {
  height: auto;
  width: 100%;
  opacity: 0;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition-delay: 0.5s;
  transition-property: all, opacity;
  transition-duration: 0.3s;
}

#index-page.active main {
  width: 100%;
  opacity: 1;
  margin: 48px 0 16px;
}

.card-row {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card {
  width: 0%;
  aspect-ratio: 80 / 61;
  background-color: var(--lightest);
  transition-delay: 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: baseline;
  align-items: end;
  text-decoration: none;
}

#index-page.active .card {
  width: 100%;
}

.card-row:nth-child(1) .card:nth-child(1) {
  background: url(../assets/images/Schedule-card.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-row:nth-child(1) .card:nth-child(2) {
  background: url(../assets/images/Designers-card.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.card-row:nth-child(2) .card:nth-child(1) {
  background: url(../assets/images/Navigation-card.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-row:nth-child(2) .card:nth-child(2) {
  background: url(../assets/images/insights-card.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card .title {
  height: 0;
  width: 100%;
  padding: 0 12px;
  font-size: 16px;

  color: transparent;
  background-color: var(--lightest);
  display: flex;
  justify-content: baseline;
  align-items: center;
  transition-delay: 0.5s, 1s;
  transition-property: height, color;
  transition-duration: 0.5s;
}

#index-page.active .card .title {
  height: 32px;

  color: var(--darkest);
}

.language {
  height: 0;
  transition-delay: 0.5s;
  transition-property: height;
  transition-duration: 0.5s;
}

#index-page.active .language {
  height: 24px;
}

.language img {
  height: 100%;
  object-fit: cover;
}

/*---- Brand Carousel ----*/

footer {
}

.brand-carousel-wrapper {
  padding: 8px 0;
  color: var(--lightest);
  height: 42px;
  border: solid var(--accent, #5e716a);
  border-width: 1px 0;
  overflow: hidden;
}

.brand-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 100%;
  position: relative;
}

.brand-carousel img {
  flex-shrink: 0;
}
