/* Fonts */
@font-face {
  font-family: "ITC Franklin Gothic Std-Book";
  src: url("../assets/fonts/ITCFranklinGothicStd-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Franklin Gothic Std-Demi";
  src: url("../assets/fonts/ITCFranklinGothicStd-Demi.otf");
  font-weight: normal;
  font-style: normal;
}

#navigation-page {
  color: var(--lightest);
  font-family: "ITC Franklin Gothic Std-Book";
}

#navigation-page main {
  padding: 20px 0 38px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.map-container {
  height: 210px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: end;
}

main .map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

main .map img {
  height: 100%;
}

main .map .pins {
  font-family: "ITC Franklin Gothic Std-Demi";
  font-size: 14px;
  background-color: var(--accent);
  width: 22px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  color: var(--darkest);
  background-clip: content-box;
  position: absolute;
  outline: 1px solid transparent;
  padding: 3px;
}

main .map .your-location {
  position: absolute;
  top: 40px;
  left: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .map .your-location img {
  width: auto;
  height: 24px;
  z-index: 2;
}

main .map .your-location .shadow {
  background-color: transparent;
  margin-top: -2px;
  width: 11px;
  height: 3px;
  border-radius: 50%;
}

main .map .your-location.focus .shadow {
  background-color: var(--lightest);
}

main .map .focus:not(.your-location) {
  outline: 1px solid var(--lightest);
  color: var(--lightest);
}

main .map .pins:nth-child(1) {
  top: 50px;
  left: 200px;
}
main .map .pins:nth-child(2) {
  top: 100px;
  right: 140px;
}
main .map .pins:nth-child(3) {
  bottom: 70px;
  left: 110px;
}
main .map .pins:nth-child(4) {
  bottom: 40px;
  right: 60px;
}
main .map .pins:nth-child(5) {
  top: 30px;
  right: 50px;
}

.map-container .button-wrapper {
  padding: 8px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "ITC Franklin Gothic Std-Demi";
  border-radius: 0;
  outline: none;
  border: none;
  padding: 2px 4px;
  gap: 2px;
}

.location-info {
  width: 100%;
  border-top: 2px solid var(--accent);
  padding: 9px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.location-info h2 {
  font-family: "ITC Franklin Gothic Std-Demi";
  font-size: 24px;
  text-align: center;
}

.location-info ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.location-info li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--accent);
  border-width: 0 0 2px 0;
  padding: 8px 4px;
}

.location-info li .item-content {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.location-info li img {
  width: 16px;
}

.location-info li .item-icon {
  font-family: "ITC Franklin Gothic Std-Demi";
  font-size: 14px;
  background-color: var(--accent);
  width: 16px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  color: var(--darkest);
}

.location-info li .item-text {
  font-size: 16px;
}

.location-info li .arrow {
  transform: rotateY(180deg);
  height: 20px;
}
